
<div class="row">
  <div class="col-md-12">
    <ng-form class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="locationName">Nome</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="locationName" placeholder="Nome" type="text" ng-model="newlocation"/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-info" ng-click="addLocation(newlocation)">Submeter</button>
            </div>
        </div>
    </ng-form>
  </div>
</div>