<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ContactList</title>

        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/ngDialog/css/ngDialog.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/ngDialog/css/ngDialog-theme-default.min.css">
        <link rel="stylesheet" type="text/css" href="/public/styles/theme.css">
    </head>

    <body ng-app="contactList" ng-view>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/ngDialog/js/ngDialog.js"></script>

    <!-- Angular APP -->
    <script src="/public/scripts/app.js"></script>
    <script src="/public/scripts/controllers/ContactsCtrl.js"></script>
    <script src="/public/scripts/controllers/CreateContactCtrl.js"></script>
    <script src="/public/scripts/services/ContactService.js"></script>

  </body>
</html>
